In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

# Start to test some model

## import of differrent sample of data set

In [2]:
active_users_df_10PlusRatings_partial = pd.read_csv('../raw_data/active_users_df_10PlusRatings_partial.csv')

In [3]:
active_users_df_100PlusRatings_partial = pd.read_csv('../raw_data/active_users_df_100PlusRatings_partial.csv')

In [4]:
rating_complete_df_10PlusRatings_partial = pd.read_csv('../raw_data/rating_complete_df_10PlusRatings_partial.csv')

In [5]:
rating_complete_df_100PlusRatings_partial = pd.read_csv('../raw_data/rating_complete_df_100PlusRatings_partial.csv')

In [6]:
anime_df = pd.read_csv('../raw_data/anime.csv')

## data set normalisation

In [7]:
active_users_df_10PlusRatings_partial['rating'] = active_users_df_10PlusRatings_partial['rating']/10

In [8]:
active_users_df_100PlusRatings_partial['rating'] = active_users_df_100PlusRatings_partial['rating']/10

In [9]:
rating_complete_df_10PlusRatings_partial['rating'] = rating_complete_df_10PlusRatings_partial['rating']/10

In [10]:
rating_complete_df_100PlusRatings_partial['rating'] = rating_complete_df_100PlusRatings_partial['rating']/10

## data set merge

In [11]:
anime_name_df = anime_df[['MAL_ID','Name']].rename(columns={'MAL_ID' : 'anime_id'})

In [12]:
active_users_df_10PlusRatings_partial_merge = active_users_df_10PlusRatings_partial.merge(anime_name_df, on = 'anime_id', how='inner')

In [13]:
active_users_df_100PlusRatings_partial_merge = active_users_df_100PlusRatings_partial.merge(anime_name_df, on = 'anime_id', how='inner')

In [14]:
rating_complete_df_10PlusRatings_partial_merge = rating_complete_df_10PlusRatings_partial.merge(anime_name_df, on = 'anime_id', how='inner')

In [15]:
rating_complete_df_100PlusRatings_partial_merge = rating_complete_df_100PlusRatings_partial.merge(anime_name_df, on = 'anime_id', how='inner')

## data set vectorization

In [16]:
active_users_df_10PlusRatings_partial_pivot = active_users_df_10PlusRatings_partial_merge.pivot_table(index='anime_id',columns='user_id',values='rating').fillna(0)

In [17]:
active_users_df_100PlusRatings_partial_pivot = active_users_df_100PlusRatings_partial_merge.pivot_table(index='anime_id',columns='user_id',values='rating').fillna(0)

In [18]:
active_users_df_10PlusRatings_partial_pivot

user_id,0,1,2,3,4,5,6,7,8,11,...,4987,4988,4989,4990,4991,4992,4993,4996,4997,4998
anime_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.9,0.0,0.0,0.6,0.0,0.0,0.0,...,0.0,0.0,0.9,0.0,0.0,0.0,1.0,0.0,0.0,0.9
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.9,0.0,0.0,0.0,1.0,0.0,0.0,0.8
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.8,0.3,0.0,0.0,0.8,0.9,0.0,0.0,0.8
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
active_users_df_100PlusRatings_partial_pivot

user_id,1,3,4,6,11,14,16,17,19,21,...,4983,4986,4987,4989,4990,4991,4992,4993,4996,4998
anime_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.9,0.0,0.6,0.0,0.9,0.0,0.0,0.8,0.0,...,0.0,1.0,0.0,0.9,0.0,0.0,0.0,1.0,0.0,0.9
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,0.0,...,0.0,0.9,0.0,0.9,0.0,0.0,0.0,1.0,0.0,0.8
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8,0.0,...,0.0,0.8,0.0,0.3,0.0,0.0,0.8,0.9,0.0,0.8
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
anime_id_name_df_10PlusRatings = active_users_df_10PlusRatings_partial_merge[['anime_id','Name']].drop_duplicates()
anime_id_name_df_10PlusRatings = anime_id_name_df_10PlusRatings.sort_values('anime_id')
anime_id_name_df_10PlusRatings = anime_id_name_df_10PlusRatings.reset_index().drop(columns = 'index')
anime_id_name_df_10PlusRatings

       anime_id                                            Name
0             1                                    Cowboy Bebop
1             5                 Cowboy Bebop: Tengoku no Tobira
2             6                                          Trigun
3             7                              Witch Hunter Robin
4             8                                  Bouken Ou Beet
...         ...                                             ...
12101     47402                                       Heikousen
12102     47591    Kuro Gal ni Natta kara Shinyuu to shitemita.
12103     47614    Nu Wushen de Canzhuo Spring Festival Special
12104     47616  Yakusoku no Neverland 2nd Season: Michishirube
12105     48456                             SK∞: Crazy Rock Jam

[12106 rows x 2 columns]

In [21]:
active_users_df_100PlusRatings_partial_pivot.loc[[44]]

user_id,1,3,4,6,11,14,16,17,19,21,...,4983,4986,4987,4989,4990,4991,4992,4993,4996,4998
anime_id,,,,,,,,,,,,,,,,,,,,,
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,0.0,...,0.0,0.0,0.0,0.9,0.0,0.0,0.0,1.0,0.0,0.0

In [22]:
anime_id_name_df_10PlusRatings.loc[[44]]

    index  anime_id   Name
44     44        63  DearS

In [23]:
anime_id_name_df_10PlusRatings.query('Name == "Naruto"')

    index  anime_id    Name
10     10        20  Naruto

In [88]:
anime_id_name_df_100PlusRatings = active_users_df_100PlusRatings_partial_merge[['anime_id','Name']].drop_duplicates()
anime_id_name_df_100PlusRatings = anime_id_name_df_100PlusRatings.sort_values('anime_id')
anime_id_name_df_100PlusRatings = anime_id_name_df_100PlusRatings.reset_index().drop(columns = 'index')
anime_id_name_df_100PlusRatings

       anime_id                                            Name
0             1                                    Cowboy Bebop
1             5                 Cowboy Bebop: Tengoku no Tobira
2             6                                          Trigun
3             7                              Witch Hunter Robin
4             8                                  Bouken Ou Beet
...         ...                                             ...
12073     47402                                       Heikousen
12074     47591    Kuro Gal ni Natta kara Shinyuu to shitemita.
12075     47614    Nu Wushen de Canzhuo Spring Festival Special
12076     47616  Yakusoku no Neverland 2nd Season: Michishirube
12077     48456                             SK∞: Crazy Rock Jam

[12078 rows x 2 columns]

In [25]:
anime_id_name_df_10PlusRatings.query('Name == "Naruto"')

    index  anime_id    Name
10     10        20  Naruto

In [26]:
#pca can do at this step but not on a sample data set

In [27]:
rating_complete_df_10PlusRatings_partial_merge['rating'] = 1

In [28]:
rating_complete_df_10PlusRatings_partial_merge.rename(columns={'rating' : 'complete'}, inplace =True)

In [29]:
rating_complete_df_10PlusRatings_partial_merge

,user_id,anime_id,complete,Name
0,0,430,1,Fullmetal Alchemist: The Conqueror of Shamballa
1,6,430,1,Fullmetal Alchemist: The Conqueror of Shamballa
2,18,430,1,Fullmetal Alchemist: The Conqueror of Shamballa
3,19,430,1,Fullmetal Alchemist: The Conqueror of Shamballa
4,33,430,1,Fullmetal Alchemist: The Conqueror of Shamballa
...,...,...,...,...
758229,4944,8146,1,Gegege no Kitarou: Daikaijuu
758230,4944,32888,1,Sinbad: Mahiru no Yoru to Fushigi no Mon
758231,4944,21305,1,Trick or Alice
758232,4986,39284,1,Tsuki no Uta
758233,4993,16756,1,Kuiba: Zhi Shiwanhuoji

In [71]:
rating_complete_df_10PlusRatings_partial_pivot = rating_complete_df_10PlusRatings_partial_merge.pivot_table(index='anime_id',columns='user_id',values='complete').fillna(0)

In [72]:
rating_complete_df_10PlusRatings_partial_pivot

user_id,0,1,2,3,4,5,6,7,8,11,...,4987,4988,4989,4990,4991,4992,4993,4996,4997,4998
anime_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
anime_complete_id_name_df_10PlusRatings = rating_complete_df_10PlusRatings_partial_merge[['anime_id','Name']].drop_duplicates()
anime_complete_id_name_df_10PlusRatings = anime_complete_id_name_df_10PlusRatings.sort_values('anime_id')
anime_complete_id_name_df_10PlusRatings = anime_complete_id_name_df_10PlusRatings.reset_index().drop(columns = 'index')
anime_complete_id_name_df_10PlusRatings

       anime_id                                            Name
0             1                                    Cowboy Bebop
1             5                 Cowboy Bebop: Tengoku no Tobira
2             6                                          Trigun
3             7                              Witch Hunter Robin
4             8                                  Bouken Ou Beet
...         ...                                             ...
11839     47398                   Kimetsu Gakuen: Valentine-hen
11840     47402                                       Heikousen
11841     47614    Nu Wushen de Canzhuo Spring Festival Special
11842     47616  Yakusoku no Neverland 2nd Season: Michishirube
11843     48456                             SK∞: Crazy Rock Jam

[11844 rows x 2 columns]

In [31]:
rating_complete_df_100PlusRatings_partial_merge['rating'] = 1
rating_complete_df_100PlusRatings_partial_merge.rename(columns={'rating' : 'complete'}, inplace =True)
rating_complete_df_100PlusRatings_partial_merge

        user_id  anime_id  complete                                      Name
0             1     22535         1                Kiseijuu: Sei no Kakuritsu
1             3     22535         1                Kiseijuu: Sei no Kakuritsu
2            17     22535         1                Kiseijuu: Sei no Kakuritsu
3            19     22535         1                Kiseijuu: Sei no Kakuritsu
4            42     22535         1                Kiseijuu: Sei no Kakuritsu
...         ...       ...       ...                                       ...
676694     4944      8146         1              Gegege no Kitarou: Daikaijuu
676695     4944     32888         1  Sinbad: Mahiru no Yoru to Fushigi no Mon
676696     4944     21305         1                            Trick or Alice
676697     4986     39284         1                              Tsuki no Uta
676698     4993     16756         1                    Kuiba: Zhi Shiwanhuoji

[676699 rows x 4 columns]

In [73]:
rating_complete_df_100PlusRatings_partial_pivot = rating_complete_df_100PlusRatings_partial_merge.pivot_table(index='anime_id',columns='user_id',values='complete').fillna(0)

In [74]:
rating_complete_df_100PlusRatings_partial_pivot

user_id,1,3,4,6,11,16,17,19,21,25,...,4980,4983,4986,4987,4989,4990,4991,4992,4993,4996
anime_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
anime_complete_id_name_df_100PlusRatings = rating_complete_df_100PlusRatings_partial_merge[['anime_id','Name']].drop_duplicates()
anime_complete_id_name_df_100PlusRatings = anime_complete_id_name_df_100PlusRatings.sort_values('anime_id')
anime_complete_id_name_df_100PlusRatings = anime_complete_id_name_df_100PlusRatings.reset_index().drop(columns = 'index')
anime_complete_id_name_df_100PlusRatings

       anime_id                                            Name
0             1                                    Cowboy Bebop
1             5                 Cowboy Bebop: Tengoku no Tobira
2             6                                          Trigun
3             7                              Witch Hunter Robin
4             8                                  Bouken Ou Beet
...         ...                                             ...
11813     47398                   Kimetsu Gakuen: Valentine-hen
11814     47402                                       Heikousen
11815     47614    Nu Wushen de Canzhuo Spring Festival Special
11816     47616  Yakusoku no Neverland 2nd Season: Michishirube
11817     48456                             SK∞: Crazy Rock Jam

[11818 rows x 2 columns]

## KNN

### for active_users_df_10PlusRatings_partial_pivot

In [33]:
#test model knn for users
active_users_df_10PlusRatings_partial_pivot_matrix = csr_matrix(active_users_df_10PlusRatings_partial_pivot.values)

model_knn_10PlusRatings = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn_10PlusRatings.fit(active_users_df_10PlusRatings_partial_pivot_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

### active_users_df_100PlusRatings_partial_pivot

In [77]:
#test model knn for users
active_users_df_100PlusRatings_partial_pivot_matrix = csr_matrix(active_users_df_100PlusRatings_partial_pivot.values)

model_knn_100PlusRatings = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn_100PlusRatings.fit(active_users_df_100PlusRatings_partial_pivot_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

### rating_complete_df_10_partial_pivot

In [76]:
#test model knn for users
rating_complete_df_10PlusRatings_partial_pivot_matrix = csr_matrix(rating_complete_df_10PlusRatings_partial_pivot.values)

model_knn_complete_10PlusRatings = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn_complete_10PlusRatings.fit(rating_complete_df_10PlusRatings_partial_pivot_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

### rating_complete_df_100_partial_pivot

In [78]:
rating_complete_df_100PlusRatings_partial_pivot_matrix = csr_matrix(rating_complete_df_100PlusRatings_partial_pivot.values)

model_knn_complete_100PlusRatings = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn_complete_100PlusRatings.fit(rating_complete_df_100PlusRatings_partial_pivot_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

### Predictions and comparaisons of model with index row

In [35]:
# don't forget to when the distance for knn prediction is 0.0 is probably due lack of data and 
# not an extreme proximity of the anime

In [36]:
#Chose the anime 5 who is the same on the two vectorized data
index_nb = 25
n_neighbors = 15
distances, indices = model_knn_10PlusRatings.kneighbors(active_users_df_10PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)

In [37]:
active_users_df_100PlusRatings_partial_pivot.shape[0]

12078

In [38]:
anime_id_name_df_10PlusRatings.loc[25].Name

'Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen'

In [39]:
active_users_df_100PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1)

array([[0., 0., 0., ..., 1., 0., 0.]])

In [40]:
#10PlusRatings
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(active_users_df_10PlusRatings_partial_pivot.index[index_nb]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for 44:

1: 401, with distance of 0.36431687275875213:
2: 45, with distance of 0.444539005016116:
3: 46, with distance of 0.5286802689528898:
4: 205, with distance of 0.6334247578773483:
5: 164, with distance of 0.6485044073437123:
6: 1, with distance of 0.6517394638507832:
7: 6, with distance of 0.6612502707363357:
8: 72, with distance of 0.6811899310024978:
9: 5, with distance of 0.683516979576061:
10: 267, with distance of 0.6853536947199822:
11: 1818, with distance of 0.6875178705500049:
12: 30, with distance of 0.6879974081784797:
13: 33, with distance of 0.6888000669524639:
14: 2418, with distance of 0.689720146582818:

In [41]:
distances, indices = model_knn_10PlusRatings.kneighbors(active_users_df_10PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)

In [42]:
anime_id_name_df_10PlusRatings.query('anime_id == 44')

    index  anime_id                                               Name
25     25        44  Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...

In [43]:
# How to obtain the nma of the anime from is anime_id
anime_id_name_df_10PlusRatings.query('anime_id == 44').iloc[0].Name

'Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen'

In [44]:
print(anime_id_name_df_10PlusRatings.query('anime_id == 44').iloc[0].Name)

Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen

In [45]:
nb = 44
anime_id_name_df_10PlusRatings.query(f'anime_id == {nb}').iloc[0].Name

'Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen'

In [46]:
#10PlusRatings list
distances, indices = model_knn_10PlusRatings.kneighbors(active_users_df_10PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)

prediction_10PlusRatings = []
for i in range(0, len(distances.flatten())):
    if i == 0:
        prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
    else:
        prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])

for i in range(len(prediction_10PlusRatings)):
    anime_name = anime_id_name_df_10PlusRatings.query(f'anime_id == {prediction_10PlusRatings[i][0]}').iloc[0].Name
    distance = prediction_10PlusRatings[i][1]
    if i == 0:
        print(f'Recommendations for {anime_name}:')
    else:
        print(f'{anime_name}, with distance of {distance}')

Recommendations for Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen:
Rurouni Kenshin: Meiji Kenkaku Romantan - Seisou-hen, with distance of 0.36431687275875213
Rurouni Kenshin: Meiji Kenkaku Romantan, with distance of 0.444539005016116
Rurouni Kenshin: Meiji Kenkaku Romantan - Ishinshishi e no Chinkonka, with distance of 0.5286802689528898
Samurai Champloo, with distance of 0.6334247578773483
Mononoke Hime, with distance of 0.6485044073437123
Cowboy Bebop, with distance of 0.6517394638507832
Trigun, with distance of 0.6612502707363357
Full Metal Panic? Fumoffu, with distance of 0.6811899310024978
Cowboy Bebop: Tengoku no Tobira, with distance of 0.683516979576061
Gungrave, with distance of 0.6853536947199822
Claymore, with distance of 0.6875178705500049
Neon Genesis Evangelion, with distance of 0.6879974081784797
Kenpuu Denki Berserk, with distance of 0.6888000669524639
Stranger: Mukou Hadan, with distance of 0.689720146582818

In [47]:
anime_id_name_df_10PlusRatings.query(f'anime_id == {prediction_10PlusRatings[0][0]}').iloc[0].Name

'Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen'

In [48]:
prediction_10PlusRatings[0][0]

44

In [49]:
#100PlusRatings list
distances, indices = model_knn_100PlusRatings.kneighbors(active_users_df_100PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)
prediction_100PlusRatings = []
for i in range(len(distances.flatten())):
    if i == 0:
        prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
    else:
        prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])

for i in range(len(prediction_100PlusRatings)):
    anime_name = anime_id_name_df_100PlusRatings.query(f'anime_id == {prediction_100PlusRatings[i][0]}').iloc[0].Name
    distance = prediction_100PlusRatings[i][1]
    if i == 0:
        print(f'Recommendations for {anime_name}:')
    else:
        print(f'{anime_name}, with distance of {distance}')

Recommendations for Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen:
Rurouni Kenshin: Meiji Kenkaku Romantan - Seisou-hen, with distance of 0.3392024684042634
Rurouni Kenshin: Meiji Kenkaku Romantan, with distance of 0.4056587199855285
Rurouni Kenshin: Meiji Kenkaku Romantan - Ishinshishi e no Chinkonka, with distance of 0.48544453324946224
Samurai Champloo, with distance of 0.6004061899767895
Full Metal Panic? Fumoffu, with distance of 0.6324907094657403
Mononoke Hime, with distance of 0.6325284247999461
Cowboy Bebop, with distance of 0.6341257529697438
Trigun, with distance of 0.6366783559071133
Gungrave, with distance of 0.6406668969042768
Full Metal Panic!, with distance of 0.644794204415011
Fullmetal Alchemist, with distance of 0.6538144162347106
Cowboy Bebop: Tengoku no Tobira, with distance of 0.6541910641589916
Claymore, with distance of 0.6547918404420043
Full Metal Panic! The Second Raid, with distance of 0.6550960555272466

### prediction and comparaison with an anime name

In [92]:
anime_id_name_df_10PlusRatings.query('Name == "Naruto"')

    anime_id    Name
10        20  Naruto

In [93]:
n_neighbors = 15

In [94]:
index_nb = anime_id_name_df_10PlusRatings.index[anime_id_name_df_10PlusRatings['Name'] == "Naruto"].tolist()[0]

In [95]:
anime_id_name_df_10PlusRatings.index[anime_id_name_df_10PlusRatings['Name'] == "Naruto"].tolist()[0]

10

In [96]:
index_nb

10

In [97]:
#10PlusRatings list
distances, indices = model_knn_10PlusRatings.kneighbors(active_users_df_10PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)

prediction_10PlusRatings = []
for i in range(0, len(distances.flatten())):
    if i == 0:
        prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
    else:
        prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])

for i in range(len(prediction_10PlusRatings)):
    anime_name = anime_id_name_df_10PlusRatings.query(f'anime_id == {prediction_10PlusRatings[i][0]}').iloc[0].Name
    distance = prediction_10PlusRatings[i][1]
    if i == 0:
        print(f'Recommendations for {anime_name}:')
    else:
        print(f'{anime_name}, with distance of {distance}')

Recommendations for Naruto:
Naruto: Shippuuden, with distance of 0.18144458447635292
Death Note, with distance of 0.325256645439548
Bleach, with distance of 0.3602709406538884
Shingeki no Kyojin, with distance of 0.37577865508185526
Fullmetal Alchemist: Brotherhood, with distance of 0.40915349226902775
Code Geass: Hangyaku no Lelouch, with distance of 0.41286781080925006
Sword Art Online, with distance of 0.41354577278288107
One Piece, with distance of 0.4336348788848371
Fairy Tail, with distance of 0.4342841733047107
One Punch Man, with distance of 0.4403957799057846
Code Geass: Hangyaku no Lelouch R2, with distance of 0.44215921764576194
Tokyo Ghoul, with distance of 0.44570334595672456
Boku no Hero Academia, with distance of 0.45181009908822
Fullmetal Alchemist, with distance of 0.4574619821171074

In [98]:
anime_id_name_df_100PlusRatings.query('Name == "Naruto"')

    anime_id    Name
10        20  Naruto

In [99]:
index_nb = anime_id_name_df_100PlusRatings.index[anime_id_name_df_100PlusRatings['Name'] == "Naruto"].tolist()[0]

In [100]:
index_nb

10

In [101]:
#100PlusRatings list
distances, indices = model_knn_100PlusRatings.kneighbors(active_users_df_100PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)
prediction_100PlusRatings = []
for i in range(len(distances.flatten())):
    if i == 0:
        prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
    else:
        prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])

for i in range(len(prediction_100PlusRatings)):
    anime_name = anime_id_name_df_100PlusRatings.query(f'anime_id == {prediction_100PlusRatings[i][0]}').iloc[0].Name
    distance = prediction_100PlusRatings[i][1]
    if i == 0:
        print(f'Recommendations for {anime_name}:')
    else:
        print(f'{anime_name}, with distance of {distance}')

Recommendations for Naruto:
Naruto: Shippuuden, with distance of 0.1563215743198142
Death Note, with distance of 0.2817908534486975
Bleach, with distance of 0.30734501769722944
Shingeki no Kyojin, with distance of 0.308264865461254
Fullmetal Alchemist: Brotherhood, with distance of 0.3383759985130016
Sword Art Online, with distance of 0.34235842077151024
Code Geass: Hangyaku no Lelouch, with distance of 0.3441057913395933
One Punch Man, with distance of 0.36954673687841977
Fairy Tail, with distance of 0.3697204357379914
Code Geass: Hangyaku no Lelouch R2, with distance of 0.37338678583533447
Tokyo Ghoul, with distance of 0.374666109851961
Boku no Hero Academia, with distance of 0.38143617364207827
One Piece, with distance of 0.38626488772772083
Ao no Exorcist, with distance of 0.38685471643532365

In [102]:
anime_id_name_df_10PlusRatings.query('Name == "Mushishi"')

     anime_id      Name
428       457  Mushishi

In [103]:
anime_id_name_df_10PlusRatings.query('Name == "Beck"')

    anime_id  Name
38        57  Beck

In [104]:
index_nb = anime_id_name_df_10PlusRatings.index[anime_id_name_df_10PlusRatings['Name'] == "Beck"].tolist()[0]

In [105]:
#10PlusRatings list
distances, indices = model_knn_10PlusRatings.kneighbors(active_users_df_10PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)

prediction_10PlusRatings = []
for i in range(0, len(distances.flatten())):
    if i == 0:
        prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
    else:
        prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])

for i in range(len(prediction_10PlusRatings)):
    anime_name = anime_id_name_df_10PlusRatings.query(f'anime_id == {prediction_10PlusRatings[i][0]}').iloc[0].Name
    distance = prediction_10PlusRatings[i][1]
    if i == 0:
        print(f'Recommendations for {anime_name}:')
    else:
        print(f'{anime_name}, with distance of {distance}')

Recommendations for Beck:
Great Teacher Onizuka, with distance of 0.5961063175375186
Samurai Champloo, with distance of 0.629932435934509
NHK ni Youkoso!, with distance of 0.6321798227720485
Black Lagoon, with distance of 0.6360400871555631
Nodame Cantabile, with distance of 0.6471302945451343
FLCL, with distance of 0.6520528672241168
Genshiken, with distance of 0.654471880801483
Koukyoushihen Eureka Seven, with distance of 0.6564620023943006
Detroit Metal City, with distance of 0.6591569015577761
Code Geass: Hangyaku no Lelouch, with distance of 0.6596938264295662
Black Lagoon: The Second Barrage, with distance of 0.6637794104196761
Cowboy Bebop, with distance of 0.6641448400622625
Baccano!, with distance of 0.6652186581723949
Bakuman., with distance of 0.6664410249744712

In [106]:
index_nb = anime_id_name_df_100PlusRatings.index[anime_id_name_df_100PlusRatings['Name'] == "Beck"].tolist()[0]

In [107]:
#100PlusRatings list
distances, indices = model_knn_100PlusRatings.kneighbors(active_users_df_100PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = n_neighbors)
prediction_100PlusRatings = []
for i in range(len(distances.flatten())):
    if i == 0:
        prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
    else:
        prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])

for i in range(len(prediction_100PlusRatings)):
    anime_name = anime_id_name_df_100PlusRatings.query(f'anime_id == {prediction_100PlusRatings[i][0]}').iloc[0].Name
    distance = prediction_100PlusRatings[i][1]
    if i == 0:
        print(f'Recommendations for {anime_name}:')
    else:
        print(f'{anime_name}, with distance of {distance}')

Recommendations for Beck:
Great Teacher Onizuka, with distance of 0.5589236354596175
NHK ni Youkoso!, with distance of 0.5854165816991956
Black Lagoon, with distance of 0.5995986886736324
Samurai Champloo, with distance of 0.6018132084174517
Nodame Cantabile, with distance of 0.6113882475555268
FLCL, with distance of 0.6149569552394213
Fullmetal Alchemist, with distance of 0.6199613515215108
Black Lagoon: The Second Barrage, with distance of 0.6210225295287193
Death Note, with distance of 0.6228517315549944
Elfen Lied, with distance of 0.6240759314757851
Genshiken, with distance of 0.625328148574896
Durarara!!, with distance of 0.6273226062363111
Code Geass: Hangyaku no Lelouch, with distance of 0.6275087638414367
Koukyoushihen Eureka Seven, with distance of 0.6289270799757587

In [65]:
# the model give response that are coherent

### Create fonction for using the model

In [115]:
def recomendation_100PlusRatings(anime_name, nb_recomendation = 10):
    index_nb = anime_id_name_df_100PlusRatings.index[anime_id_name_df_100PlusRatings['Name'] == anime_name].tolist()[0]
    distances, indices = model_knn_100PlusRatings.kneighbors(active_users_df_100PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = nb_recomendation+1)
    prediction_100PlusRatings = []
    for i in range(len(distances.flatten())):
        if i == 0:
            prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
        else:
            prediction_100PlusRatings.append([active_users_df_100PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])
    results = []
    for i in range(len(prediction_100PlusRatings)):
        anime_name = anime_id_name_df_100PlusRatings.query(f'anime_id == {prediction_100PlusRatings[i][0]}').iloc[0].Name
        distance = prediction_100PlusRatings[i][1]
        results.append([anime_name,distance])
    return results

In [116]:
def recomendation_10PlusRatings(anime_name, nb_recomendation = 10):
    index_nb = anime_id_name_df_10PlusRatings.index[anime_id_name_df_10PlusRatings['Name'] == anime_name].tolist()[0]
    distances, indices = model_knn_10PlusRatings.kneighbors(active_users_df_10PlusRatings_partial_pivot.iloc[index_nb,:].values.reshape(1, -1), n_neighbors = nb_recomendation + 1)

    prediction_10PlusRatings = []
    for i in range(0, len(distances.flatten())):
        if i == 0:
            prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],0])
        else:
            prediction_10PlusRatings.append([active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[i]],distances.flatten()[i]])
    results = []
    for i in range(len(prediction_10PlusRatings)):
        anime_name = anime_id_name_df_10PlusRatings.query(f'anime_id == {prediction_10PlusRatings[i][0]}').iloc[0].Name
        distance = prediction_10PlusRatings[i][1]
        results.append([anime_name,distance])
    return results

In [110]:
active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()[0]]

57

In [111]:
active_users_df_10PlusRatings_partial_pivot.index[indices.flatten()]

Int64Index([57, 245, 1210, 889, 205, 1698, 227, 121, 1519, 1535, 226, 240,
            6714, 1575, 237],
           dtype='int64', name='anime_id')

In [112]:
indices.flatten()

array([  38,  221, 1098,  802,  182, 1537,  203,  100, 1374, 1388,  202,
        216, 4380, 1425,  213])

In [117]:
recomendation_100PlusRatings('Naruto')

[['Naruto', 0],
 ['Naruto: Shippuuden', 0.1563215743198142],
 ['Death Note', 0.2817908534486975],
 ['Bleach', 0.30734501769722944],
 ['Shingeki no Kyojin', 0.308264865461254],
 ['Fullmetal Alchemist: Brotherhood', 0.3383759985130016],
 ['Sword Art Online', 0.34235842077151024],
 ['Code Geass: Hangyaku no Lelouch', 0.3441057913395933],
 ['One Punch Man', 0.36954673687841977],
 ['Fairy Tail', 0.3697204357379914],
 ['Code Geass: Hangyaku no Lelouch R2', 0.37338678583533447]]

In [118]:
recomendation_10PlusRatings('Naruto')

[['Naruto', 0],
 ['Naruto: Shippuuden', 0.18144458447635292],
 ['Death Note', 0.325256645439548],
 ['Bleach', 0.3602709406538884],
 ['Shingeki no Kyojin', 0.37577865508185526],
 ['Fullmetal Alchemist: Brotherhood', 0.40915349226902775],
 ['Code Geass: Hangyaku no Lelouch', 0.41286781080925006],
 ['Sword Art Online', 0.41354577278288107],
 ['One Piece', 0.4336348788848371],
 ['Fairy Tail', 0.4342841733047107],
 ['One Punch Man', 0.4403957799057846]]